<!-- modules/main/templates/gear.html -->
<div class="gearview-content">
	<div data-role="header" data-position="fixed" data-theme="b">
		<h1>设置</h1>
	</div>

	<div data-role="content">

		<ul data-role="listview" data-inset="true">
			<li data-icon="false">
				<a href="#about"><img src="assets/img/icons/about.png" alt="关于" class="ui-li-icon"/>关于</a>
			</li>
			<li data-icon="false">
				<a href="#copyright"><img src="assets/img/icons/talk.png" alt="免责声明" class="ui-li-icon"/>免责申明</a>
			</li>
			<li data-icon="false">
				<a href="#"><img src="assets/img/icons/loader.png" alt="新版本检测" class="ui-li-icon"/>新版本检测</a>
			</li>
			<li data-icon="false">
				<a href="#"><img src="assets/img/icons/bang.png" alt="给我评分" class="ui-li-icon"/>给我评分</a>
			</li>
		</ul>
	</div>
</div>