<!-- modules/main/templates/mian.html -->
<div id="content-wrapper">		
</div>

<div data-role="footer" class="main-footer" data-position="fixed">
	<div data-role="navbar">
		<ul class="main-navbar">
			<li><a id="navbar-home" app-view="homeview" data-icon="custom" data-transition="none" class="ui-btn-active ui-state-persist">首页</a></li>
			<li><a id="navbar-team" app-view="teamview" data-icon="custom" data-transition="none">球队</a></li>			
			<li><a id="navbar-user" app-view="userview" data-icon="custom" data-transition="none">我</a></li>
			<li><a id="navbar-gear" app-view="gearview" data-icon="custom" data-transition="none">设置</a></li>
		</ul>
	</div><!-- /navbar -->
</div>
