<!-- modules/main/templates/user.html -->
<div class="teamview-content">
	<div data-role="header" data-position="fixed" data-theme="b">
		<h1>NBA球队</h1>
	</div>

	<div data-role="content">
		<div data-role="collapsible" data-collapsed="false" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d">
			<h3>大西洋赛区</h3>
			<div class="ui-grid-b teamlist">
				<div class="ui-block-a">
					<a href="#team/1"><img src="assets/img/team-logo/1.png"/></a>
					<p>
						波士顿凯尔特人
					</p>
				</div>
				<div class="ui-block-b">
					<a href="#team/2"> <img src="assets/img/team-logo/2.png"/> </a>
					<p>
						布鲁克林篮网
					</p>
				</div>
				<div class="ui-block-c">
					<a href="#team/3"> <img src="assets/img/team-logo/3.png"/> </a>
					<p>
						纽约尼克斯
					</p>
				</div>
				<div class="ui-block-a">
					<a href="#team/4"> <img src="assets/img/team-logo/4.png"/> </a>
					<p>
						费城76人
					</p>
				</div>
				<div class="ui-block-b">
					<a href="#team/5"> <img src="assets/img/team-logo/5.png"/> </a>
					<p>
						多伦多猛龙
					</p>
				</div>
			</div>
		</div>
		<div data-role="collapsible" data-collapsed="false" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d">
			<h3>西南赛区</h3>
			<div class="ui-grid-b teamlist">
				<div class="ui-block-a">
					<a href="#team/6"> <img src="assets/img/team-logo/6.png"/> </a>
					<p>
						达拉斯小牛
					</p>
				</div>
				<div class="ui-block-b">
					<a href="#team/7"> <img src="assets/img/team-logo/7.png"/> </a>
					<p>
						休斯顿火箭
					</p>
				</div>
				<div class="ui-block-c">
					<a href="#team/8"> <img src="assets/img/team-logo/8.png"/> </a>
					<p>
						孟菲斯灰熊
					</p>
				</div>
				<div class="ui-block-a">
					<a href="#team/9"> <img src="assets/img/team-logo/9.png"/> </a>
					<p>
						新奥尔良黄蜂
					</p>
				</div>
				<div class="ui-block-b">
					<a href="#team/10"> <img src="assets/img/team-logo/10.png"/> </a>
					<p>
						圣安东尼奥马刺
					</p>
				</div>
			</div>
		</div>
		<div data-role="collapsible" data-collapsed="false" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d">
			<h3>中部赛区</h3>
			<div class="ui-grid-b teamlist">
				<div class="ui-block-a">
					<a href="#team/11"> <img src="assets/img/team-logo/11.png"/> </a>
					<p>
						芝加哥公牛
					</p>
				</div>
				<div class="ui-block-b">
					<a href="#team/12"> <img src="assets/img/team-logo/12.png"/> </a>
					<p>
						克里夫兰骑士
					</p>
				</div>
				<div class="ui-block-c">
					<a href="#team/13"> <img src="assets/img/team-logo/13.png"/> </a>
					<p>
						底特律活塞
					</p>
				</div>
				<div class="ui-block-a">
					<a href="#team/14"> <img src="assets/img/team-logo/14.png"/> </a>
					<p>
						印第安纳步行者
					</p>
				</div>
				<div class="ui-block-b">
					<a href="#team/15"> <img src="assets/img/team-logo/15.png"/> </a>
					<p>
						密尔沃基雄鹿
					</p>
				</div>
			</div>
		</div>
		<div data-role="collapsible" data-collapsed="false" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d">
			<h3>西北赛区</h3>
			<div class="ui-grid-b teamlist">
				<div class="ui-block-a">
					<a href="#team/16"> <img src="assets/img/team-logo/16.png"/> </a>
					<p>
						丹佛掘金
					</p>
				</div>
				<div class="ui-block-b">
					<a href="#team/17"> <img src="assets/img/team-logo/17.png"/> </a>
					<p>
						明尼苏达森林狼
					</p>
				</div>
				<div class="ui-block-c">
					<a href="#team/18"> <img src="assets/img/team-logo/18.png"/> </a>
					<p>
						波特兰开拓者
					</p>
				</div>
				<div class="ui-block-a">
					<a href="#team/19"> <img src="assets/img/team-logo/19.png"/> </a>
					<p>
						俄克拉荷马城雷霆
					</p>
				</div>
				<div class="ui-block-b">
					<a href="#team/20"> <img src="assets/img/team-logo/20.png"/> </a>
					<p>
						犹他爵士
					</p>
				</div>
			</div>
		</div>
		<div data-role="collapsible" data-collapsed="false" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d">
			<h3>东南赛区</h3>
			<div class="ui-grid-b teamlist">
				<div class="ui-block-a">
					<a href="#team/21"> <img src="assets/img/team-logo/21.png"/> </a>
					<p>
						亚特兰大鹰队
					</p>
				</div>
				<div class="ui-block-b">
					<a href="#team/22"> <img src="assets/img/team-logo/22.png"/> </a>
					<p>
						夏洛特山猫
					</p>
				</div>
				<div class="ui-block-c">
					<a href="#team/23"> <img src="assets/img/team-logo/23.png"/> </a>
					<p>
						迈阿密热火
					</p>
				</div>
				<div class="ui-block-a">
					<a href="#team/24"> <img src="assets/img/team-logo/24.png"/> </a>
					<p>
						奥兰多魔术
					</p>
				</div>
				<div class="ui-block-b">
					<a href="#team/25"> <img src="assets/img/team-logo/25.png"/> </a>
					<p>
						华盛顿奇才
					</p>
				</div>
			</div>
		</div>
		<div data-role="collapsible" data-collapsed="false" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d">
			<h3>太平洋赛区</h3>
			<div class="ui-grid-b teamlist">
				<div class="ui-block-a">
					<a href="#team/26"> <img src="assets/img/team-logo/26.png"/> </a>
					<p>
						金州勇士
					</p>
				</div>
				<div class="ui-block-b">
					<a href="#team/27"> <img src="assets/img/team-logo/27.png"/> </a>
					<p>
						洛杉矶快船
					</p>
				</div>
				<div class="ui-block-c">
					<a href="#team/28"> <img src="assets/img/team-logo/28.png"/> </a>
					<p>
						洛杉矶湖人
					</p>
				</div>
				<div class="ui-block-a">
					<a href="#team/29"> <img src="assets/img/team-logo/29.png"/> </a>
					<p>
						菲尼克斯太阳
					</p>
				</div>
				<div class="ui-block-b">
					<a href="#team/30"> <img src="assets/img/team-logo/30.png"/> </a>
					<p>
						萨克拉门托国王
					</p>
				</div>
			</div>
		</div>
	</div>
</div>